body {
    background-color: rgb(250, 250, 249);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 150px;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: rgb(31, 61, 51);
    border-radius: 50px;

}

nav li {
    display: inline-block;
    padding: 30px;
    padding-right: 90px;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    color: rgb(180, 207, 5);
}

section {
    display: flex;
}

article {
    flex: 1;
}

.section1 {
    background-image: url(vegetables.avif);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 40px;
    color: aliceblue;
    opacity: 0.92;
    background-color: black;
}

.section1 p {
    font-size: 20px;
}

section .artii {
    margin: 10px;
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(223, 236, 171);
    text-align: center;
    border-radius: 20px;
    font-size: 17px;
}

section .artii p {

    font-size: 19px;
}

footer {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(31, 61, 51);
    color: aliceblue; */
    padding: 10px;
    border-radius: 20px;
}

footer img {
    width: 70px;
    height: 90px;
    padding-right: 1000px;
   
}
